@import url(https://fonts.google.com/specimen/Roboto);

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #F9FAF8;
}

body{
    font-family: 'besley', serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

div{
    box-sizing: border-box;
}

.header-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #1f2937;
    min-height: 35vh;
    min-width: auto;
}

.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30px;
}


.header ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
    padding: 10px;
    height: 10px;
    margin-right: 200px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    width: 100%;
    height: 10px;
    margin-left: 200px;
}

.subtext-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
}

.subtext-container img{
    display: flex;
    width: 400px;
    height: 150px;
    margin-left: 30px;
}

.subtext{
    max-width: 350px;
}

.subtext h2{
    display: flex;
    flex-direction: column;
    font-size: 28px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subtext p{
    font-size: 18px;
    color: #e5e7eb;
}

.subtext button{
    background-color: #3882f6;
    color: white;
    border-style: none;
    border-radius: 5px;
    padding: 5px 15px;
}

.image-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 30vh;
    width: 100%;
    
}

.image-info{
    text-align: center;
    width: 100%;
}

.image-card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.image-text, img{
    width: 100px;
}

.image-card-container img{
    border: 2px solid #3882f6;
    border-radius: 10px;
    width: 100px;
    height: 100px;
}

.quote-card-container{
    background-color: #e5e7eb;
    width: 100%;
    height: 30vh;
}

.quote-text{
    display: flex;
    font-size: 36px;
    margin: 0px 550px;
    margin-top: 20px;
    font-family: light italic;
    color: #1F2937;
}

.quote-author{
    font-weight: bolder;
    text-align: end;
    margin-right: 450px;
}

.sign-modal-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30vh;
    align-items: center;
    justify-content: center;
}

.modal-header{
    display: flex;
    border: 1px solid #3882f6;
    border-radius: 10px;
    background-color: #3882f6;
    color: white;
    flex-wrap: wrap;
    height: 40%;
    width: 70%;
}

.modal-header-text{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    width: 70%;
    height: 20px;
    margin-top: auto;
}

.modal-subtext{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    height: 20px;
    margin-left: 103px;
    margin-top: 5px;
}

.modal-header button{
    display: flex;
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    align-items: center;
    border-radius: 5px;
    height: 30px;
    padding: 0px 10px;
}

.footer{
    display: flex;
    background-color: #1f2937;
    color: #F9FAF8;
    margin-top: auto;
    height: 5vh;
    justify-content: center;
    align-items: center;
}